/*
Theme Name:   Typerion
Theme URI:    https://tryperion.com/
Description:  Astra theme child theme.
Author:       Alex Lavyhin
Author URI:   https://i-wp-dev.com/
Template:     astra
Version:      1.1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  typerion
*/


.map-block #map {
	min-height: 800px !important;
}

.map-block .items {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.map-block .item.active {
	order: -1;
	background: #fff;
}

.map-block .items .item.active img {
	transform: scale(1.1);
}