@font-face {
	font-family: custom-icons;
	src: url(../fonts/custom-icons.eot);
	src: url(../fonts/custom-icons.eot) format("embedded-opentype"),
	url(../fonts/custom-icons.woff2) format("woff2"),
	url(../fonts/custom-icons.woff) format("woff"),
	url(../fonts/custom-icons.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

[class*=" icon-"]:before, [class^=icon-]:before {
	font-family: custom-icons;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-grid:before {
	content: "\ea01"
}

.icon-map:before {
	content: "\ea02"
}

body {
	margin: 0
}

.filter-block {
	background: var(--e-global-color-accent);
	height: 66px
}

.filter-block, .filter-block .nav-tabs {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.filter-block .nav-tabs {
	padding: 0;
	list-style: none;
	margin: 0
}

.filter-block .nav-tabs li.active a,
.filter .filter-buttons li.active a {
	color: #fff;
	background: #502222
}

.filter-block .nav-tabs a {
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Sofia Pro", Sans-serif;
	height: 66px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #020101;
	text-decoration: none;
	font-weight: 400;
	padding: 0 20px
}

.filter-block .nav-tabs a:before {
	margin-right: 5px;
	font-size: 12px;
	top: -1px;
	position: relative
}

.filter-block .filter {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
	margin-left: auto;
	margin-right: 20px;
	width: calc(100% - 250px);
	overflow: hidden;

}

.filter-block .filter p {
	color: #020101;
	font-size: 16px;
	font-family: Poppins, sans-serif;
	margin: 0;
	margin-left: auto;
}

.filter-block .filter .filter-buttons {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	list-style: none;
	gap: 15px;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	margin-left: 0;
	max-width: calc(100% - 190px);
	overflow-y: hidden;
	overflow-x: auto;
}

.filter-block .filter .filter-buttons a,
.reset a {
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-family: "Sofia Pro", Sans-serif;
	font-weight: 700;
	border: 2px solid #fff;
	border-radius: 25px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 2px 15px 0;
	height: 25px;
	min-width: max-content;
}

.reset a {
	background: #502222;
	border-color: #502222;
}

.reset a:hover{
	background: transparent;
}

.tab-panel {
	display: none
}

.tab-panel.active {
	display: block
}

#grid .items {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 20px;
	margin: 40px auto;
	max-width: 1360px
}

#grid .items .item {
	width: calc((100% - 40px) / 3);
	position: relative
}

#grid .items .item .img {
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

#grid .items .item img {
	width: 100%;
	height: 225px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	transition: all 1s ease
}

#grid .items .item a.link {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 1
}

#grid .items .item .desc {
	margin-top: 25px
}

#grid .items .item .desc h3 {
	font-size: 18px;
	font-family: Poppins, sans-serif;
	margin: 10px 0
}

#grid .items .item .desc p:not(.tag) {
	font-size: 12px;
	color: #a0a0a0;
	font-family: Poppins, sans-serif;
	margin: 0
}

#grid .items .item .desc .tag {
	font-size: 11.5px;
	color: #fff;
	background: var(--e-global-color-accent);
	border-radius: 15px;
	letter-spacing: .6px;
	padding: 0 10px;
	height: 24px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-transform: uppercase;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin: 0;
	font-family: Poppins, sans-serif;
}

#grid .items .item:hover img {
	transform: scale(1.1)
}

.map-block {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: calc(100vh - 146px);
	min-height: 500px;
	overflow: hidden;
}

.map-block #map {
	width: calc(100% - 570px);
	min-height: 100% !important;
}

.map-block .items {
	width: 570px;
	background-color: #f7f7f7;
	overflow-y: auto;
	max-height: 100%;
}

.map-block .items .item {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 40px;
	position: relative;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 10px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: all .3s ease
}

.map-block .items .item .img {
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.map-block .items .item:hover {
	border-top: 1px solid hsla(0, 0%, 59%, .2);
	border-bottom: 1px solid hsla(0, 0%, 59%, .2);
	background-color: #fff
}

.map-block .items .item:hover img {
	transform: scale(1.1)
}

.map-block .items a.link {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 1
}

.map-block .items img {
	width: 200px;
	height: 130px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	transition: all 1s ease
}

.map-block .items .desc {
	width: calc(100% - 240px)
}

.map-block .items .desc h3 {
	font-size: 18px;
	font-family: Poppins, sans-serif;
	margin: 10px 0
}

.map-block .items .desc p:not(.tag) {
	font-size: 12px;
	color: #a0a0a0;
	font-family: Poppins, sans-serif;
	margin: 0
}

.map-block .items .desc .tag {
	font-size: 11.5px;
	color: #fff;
	background: var(--e-global-color-accent);
	border-radius: 15px;
	letter-spacing: .6px;
	padding: 0 10px;
	height: 24px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-transform: uppercase;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin: 0;
	font-family: Poppins, sans-serif
}

.page-id-708 .elementor-element.elementor-element-1db20ca.elementor-widget.elementor-widget-spacer {
	display: none;
}

@media only screen and (max-width: 1399px) {
	.filter-block .filter .filter-buttons {
		gap: 10px;
	}

	#grid .items {
		width: calc(100% - 40px);
	}

	#grid .items .item img {
		height: 16.083vw;
	}

	#grid .items .item .desc p:not(.tag):empty,
	#grid .items .item .desc p:not(.tag) br {
		display: none;
	}
}

@media only screen and (max-width: 1366px) {
	.tab-content,
	.filter-block {
		margin-left: -30px;
		margin-right: -80px;
	}
	.filter-block .filter{
		gap: 10px;
		width: calc(100% - 220px);
	}
	.filter-block .filter p{
		font-size: 12px;
	}
}

@media only screen and (max-width: 1199px) {
	.map-block .items .item {
		gap: 15px;
	}

	.map-block .items img {
		width: 160px;
		height: 106px;
	}

	.map-block .items .desc {
		width: calc(100% - 175px);
	}

	.map-block .items .desc h3 {
		margin: 10px 0 5px;
	}

	.map-block .items .desc p:not(.tag):empty {
		display: none;
	}

	.map-block .items .desc p:not(.tag) br {
		display: none;
	}

	#grid .items .item .desc p:not(.tag),
	.map-block .items .desc p:not(.tag) {
		line-height: 1.4;
	}

	.map-block #map {
		width: calc(100% - 460px);
	}

	.map-block .items {
		width: 460px;
	}
	.filter-block .filter{
		position: relative;
		width: auto;
		overflow: visible;
		z-index: 10;
	}
	.filter-block .filter p{
		width: 200px;
		border: 2px solid #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: self-start;
		padding: 0 15px;
		border-radius: 5px;
		height: 40px;
		position: relative;
		color: #fff;
		cursor: pointer;
	}
	.filter-block .reset a{
		border-radius: 5px;
		height: 40px;
	}
	.filter-block .reset{
		margin: auto 15px auto 0;

	}
	.filter-block .filter p:before{
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		right: 15px;
		top: 50%;
		transform-origin: center;
		transform: rotate(45deg) translate(-50%,-50%);
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		cursor: pointer;
	}
	.filter-block .filter .filter-buttons{
		flex-direction: column;
		top: calc(100% - 14px);
		position: absolute;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 1;
		border-radius: 5px;
		max-width: 100%;
		overflow: visible;
		align-items: flex-start;
		padding: 20px 15px;
		display: none;
	}
	.filter-block .filter .filter-buttons a{
		color: #000;
		width: 100%;
		border: none;
		padding: 0;
		align-items: flex-start;
		font-size: 12px;
	}
	.filter-block .filter .filter-buttons a:hover{
		color: #bad75b;
	}
}

@media only screen and (max-width: 1024px) {
	.tab-content,
	.filter-block {
		margin-left: -20px;
		margin-right: -20px;
	}

	.map-block #map {
		width: 100%;
		min-height: 300px !important;
	}

	.map-block .items {
		width: 100%;
		max-height: initial;
	}

	.map-block {
		height: initial;
		min-height: initial;
		flex-direction: column;
	}
}

@media only screen and (max-width: 767px) {


	#grid .items .item {
		width: calc((100% - 20px) / 2);
	}

	#grid .items .item img {
		height: 26.076vw;
	}
}

@media only screen and (max-width: 539px) {
	.filter-block {
		flex-direction: row;
		flex-wrap: wrap;
		height: initial;
	}
	.filter-block .nav-tabs{
		width: calc(100% - 40px);
		margin: 0 auto;
	}
	.filter-block .nav-tabs li {
		width: calc(100% / 2);
	}
	.filter-block .filter p{
		width: 100%;
	}
	.filter-block .filter {
		width: calc(100% - 125px);
		margin: 20px 0;
		padding: 0 20px;
	}
}
@media only screen and (max-width: 479px) {
	#grid .items .item {
		width: 100%;
	}

	#grid .items .item img {
		height: 51.357vw;
	}
}